# Variable Assignment

In [1]:
variable_name = "Hi How are u all !"

In [2]:
variable_name

'Hi How are u all !'

In [3]:
variable_number = 34

In [4]:
variable_number

34

In [5]:
2var = "hi"

SyntaxError: invalid syntax (<ipython-input-5-07249d336918>, line 1)

In [6]:
var name = "hi"

SyntaxError: invalid syntax (<ipython-input-6-ea9d4d78baa4>, line 1)

In [7]:
varname = "hi"

In [8]:
list # Reseverd KeyWords

list

In [9]:
dict # Reseverd KeyWords

dict

In [10]:
str # Reseverd KeyWords

str

# C/C++ - # Statically typed langauge 

int a = 12

float b = 12.3

char c = "a"

In [11]:
# Python is a Dynamically typed Language !!

a = 12
b= 12.3
c = "a"

In [12]:
type(a)

int

In [13]:
type(b)

float

In [14]:
type(c)

str

# Data Types in Python

# Integers in Python

Intergers are normal whole numbers which we see in genral life, 

12, 56, 23, 79784, 839046

In [15]:
a = 34

b = -56

c = 78

In [16]:
add = a + b

In [17]:
add

-22

In [18]:
type(b)

int

# Float Numbers

Float Numbers are our Demical Numbers which we have in the normal Life, 

Ex - Float numbers -> 12.3 , 45.6, 78.9, 123.45, 678.91

In [19]:
d = 12.3
e = -45.6
f = 78.9

In [20]:
e.is_integer()

False

In [21]:
type(e)

float

In [22]:
add_float = d +e +f

In [23]:
add_float

45.60000000000001

In [24]:
add_int_float = a + d

In [25]:
add_int_float

46.3

# String

strings, are just the array of char, in our programming langauge, so that we can store anykind of messages like - 

"Hi how are u all"

In [26]:
s = "hi how are u all"

In [27]:
s

'hi how are u all'

In [29]:
help(s.islower)  #help() method is used to see the what is function

Help on built-in function islower:

islower() method of builtins.str instance
    Return True if the string is a lowercase string, False otherwise.

    A string is lowercase if all cased characters in the string are lowercase and
    there is at least one cased character in the string.

In [30]:
s.islower()

True

In [31]:
s.upper()

'HI HOW ARE U ALL'

In [32]:
s.index('u')

11

In [33]:
s.title()

'Hi How Are U All'

In [34]:
s[0]

'h'

In [35]:
s[8]

'r'

# Lists

List are a collection of objects which are bundled together in an indexed manner, where any kind of object can be stored inside list, 

for example, we can have a shopping list after covid-19,

1. "Cake"
2. " Candle"
3. "Greeting card"
4. "New Wear"
    few details
    1. 23
    2. "1 june 1999"
    3. "Bidar, KA"

In [36]:
lst = ["cake","candle","greeting","new wear",
       [23,"1 june 1999","Bidar, KA"],23.4,78,True,False,
       "ashu","gang",56,"rowdy",67]

In [37]:
lst[4][0]

23

In [38]:
lst[8]

False

In [39]:
lst[-1]

67

In [40]:
lst[0]

'cake'

In [41]:
lst[5:-1]

[23.4, 78, True, False, 'ashu', 'gang', 56, 'rowdy']

In [42]:
lst[1:8]

['candle',
 'greeting',
 'new wear',
 [23, '1 june 1999', 'Bidar, KA'],
 23.4,
 78,
 True]

#### Slicling and Dicing of the List

In [45]:
lst[0:]

['cake',
 'candle',
 'greeting',
 'new wear',
 [23, '1 june 1999', 'Bidar, KA'],
 23.4,
 78,
 True,
 False,
 'ashu',
 'gang',
 56,
 'rowdy',
 67]

In [46]:
lst[::-1]

[67,
 'rowdy',
 56,
 'gang',
 'ashu',
 False,
 True,
 78,
 23.4,
 [23, '1 june 1999', 'Bidar, KA'],
 'new wear',
 'greeting',
 'candle',
 'cake']

In [47]:
len(lst) # 0-13

14

In [48]:
lst.pop()

67

In [49]:
lst

['cake',
 'candle',
 'greeting',
 'new wear',
 [23, '1 june 1999', 'Bidar, KA'],
 23.4,
 78,
 True,
 False,
 'ashu',
 'gang',
 56,
 'rowdy']

# Dict

Dict. are another data type, which is been used to store the
data in key:value pairs, 

in real life - 

"Hello" : "(used to express a greeting, answer a telephone, or attract attention.)"

In [50]:
dit = {"Hello": "used to express a greeting",
       "How": "Used to describe the state of question",
       "Num": 1
      }

In [51]:
dit["Hello"]

'used to express a greeting'

In [54]:
dit["How"]

'Used to describe the state of question'

In [55]:
dit["Num"]

1

In [59]:
dit.keys()

dict_keys(['Hello', 'How', 'Num'])

In [60]:
dit.items()

dict_items([('Hello', 'used to express a greeting'), ('How', 'Used to describe the state of question'), ('Num', 1)])

In [61]:
dit.values()

dict_values(['used to express a greeting', 'Used to describe the state of question', 1])

In [62]:
dit = {}

In [63]:
dit["Name"] =" sai"
dit["Age"] = "100"
dit["Place"] = "Mumbai"

In [64]:
dit

{'Name': ' sai', 'Age': '100', 'Place': 'Mumbai'}

In [65]:
dit.get("Name")

' sai'

# Sets

In [66]:
st = {"sai",1,2,3,4,4,5,5,5,6,
      "kiran","letsupgrade","python","python"}

In [67]:
st

{1, 2, 3, 4, 5, 6, 'kiran', 'letsupgrade', 'python', 'sai'}

In [71]:
st.pop()

2

In [72]:
st

{3, 4, 5, 6, 'kiran', 'letsupgrade', 'python'}

In [74]:
st.remove("kiran")

In [75]:
st

{3, 4, 5, 6, 'letsupgrade', 'python'}

# Tuple

They are immutable collection of objects

In [76]:
tup = (1,2,3,4,5,"sai","LU")

In [77]:
tup.index(1)

0

In [78]:
tup.count(5)

1

# Bool
    True and False

In [79]:
True

True

In [80]:
False

False

# Tuples
    They are ordenred immumtable collections of objects

In [81]:
tup = (1,2,3,4,"Username","emailid","accesstokens")

In [82]:
tup.count(3)

1

In [83]:
tup.index("Username")

4

In [84]:
tup

(1, 2, 3, 4, 'Username', 'emailid', 'accesstokens')